<h1>Backbone Artworks!</h1>
<a href="<%= artwork.escape("image") %>"><%= artwork.escape("title") %></a>

<% if (artwork.artist) { %>
  <a href="/backbone/#artists/<%= artwork.artist.id %>"><%= artwork.artist.escape("name") %></a>
<% } %>
