<div class="stack-wrapper">
  <% if (artwork.get('stacked')) { %>
    <button class="stack-button stacked-true"></button>
  <% } else { %>
    <button class="stack-button stacked-false"></button>
  <% } %>
</div>
