<h1>All the Art!</h1>

<ul>
<% @artworks.each do |artwork| %>
<li>
  <a href="<%= artist_url(artwork.artist) %>"><%= artwork.artist.name %></a> --
  <a href="<%= artwork_url(artwork) %>"><%= artwork.title %></a>
</li>
<% end %>


</ul>