<% require_login %>

<h1>Upload New Art</h1>

<form action="<%= artworks_url %>" enctype="multipart/form-data" method="post">

  <%= render "layouts/auth_token" %>

  <label for="artwork-image" class="input">Image</label>
  <input type="file" name="artwork[image]" value="" id="artwork-image" class="input">

  <label for="artist" class="input">Artist</label>
  <input type="text" name="artist_name" value="" id="artist" class="input">

  <label for="title" class="input">Title</label>
  <input type="text" name="artwork[title]" value="" id="title" class="input">

  <label for="type" class="input">Type</label>
  <select name="artwork[art_type]" id="type" multiple onchange="" size="1" class="input">
    <option value="painting">painting</option>
    <option value="photograph">photograph</option>
    <option value="sculpture">sculpture</option>
    <option value="performance">performance</option>
    <option value="video">video</option>
    <option value="installation">installation</option>
    <option value="drawing">drawing</option>
    <option value="collage">collage</option>
  </select>

<button>Upload</button>

</form>
