<h1>Backbone artists!</h1>

<% artists.each(function(artist) { %>

<h2>
<a href="/backbone/#artists/<%= artist.id %>"><%= artist.escape("name") %></a>:
</h2>

<ul class="art-list" id="<%= artist.get('id') %>"></ul>

<% }); %>
