<h1>Backbone artists!</h1>

<% artists.each(function(artist) { %>

<div class="artist-wrapper group">
<h2>
<a href="#artists/<%= artist.id %>"><%= artist.escape("name") %></a>:
</h2>

<ul class="art-list" id="<%= artist.get('id') %>"></ul>
</div>

<% }); %>
