<% @button_name = "Create Account" %>
<% @action = users_url %>

<h2>Create your account</h2>

<%= render "layouts/user_form" %>

<h3>Already have an account? <a href="<%= new_session_url %>">Log in</a></h3>