<div class="follow-wrapper">
<% if (artwork.get('stacked')) { %>

<button class="follow-button followed-true"></button>

<% } else { %>

<button class="follow-button followed-false"></button>

<% } %>
</div>
