<div class="follow-wrapper">
<% if (followable.get('followed')) { %>

<button class="follow-button followed-true"></button>

<% } else { %>

<button class="follow-button followed-false"></button>

<% } %>
</div>
