/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .


 */


/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*/

/* SETUP */

html, body, div, span, header, footer, menu, nav, section, input,
h1, h2, h3, p, a, img, ul, li, form, label, caption, article, button {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
  text-decoration: inherit;
  font-size: 100%;
  font: inherit;
  font-family: 'Gill Sans', Arial, sans-serif;
}

ul {
  list-style: none;
}

body {
  width: 100%;
}

button, a, input {
  cursor: pointer;
}

textarea, input {
  outline: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

/* BASIC STYLES */

body {
  margin: 0 auto;
}

header {
  background: #ddd;
  padding: 25px;
  margin-bottom: 10px;

  div {
    display: block;
    float: left;
    margin-top: 0;
  }

  ul {
    display: block;
    float: right;
    margin-top: 0;
  }

  li {
    float: left;
    padding: 5px;
  }
}

main {
  width: 775px;
  margin: 25px auto;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

h2 {
  font-size: 30px;
  padding-top: 10px;
}

h3 {
  font-size: 20px;
  padding-top: 10px;
}

a {
  color: purple;

  &:hover {
    color: blue;
  }
}

/* SPECIALTY STYLES */

div {
  .devmode {                               //delete?
    display: block;
    width: 400px;
    margin: 0 auto;
    border: 1px solid red;
    background: red;
  }

  .welcome-user {
    display: relative;
    float: right;
    margin: 0 10px;
  }

  .separator {
    border-top: 1px solid #ccc;
    height: 1px;
    margin: 20px auto;
    width: 420px;
  }
}

/* INPUTS */

input:not([type='submit']), textarea {
  border: 1px solid black;
  display: block;
  padding: 8px;
  border-radius: 3px;
  cursor: text;


  &:focus {
    border: 1px solid green;
    box-shadow: 0 0 1px 1px green;
  }
}

input[type='checkbox'] {
  display: inline;
}

button, input[type='submit'] {
  padding: 5px 15px;
  font-size: 16px;
  background: #ccc;
  margin: 10px;
  border-radius: 10px;

  &:hover {
    background: #aaa;
  }
}

label.input {
  display: block;
  margin: 10px 0 0 0;
}



