/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* SETUP */

@font-face {
  font-family: "Droid Sans";
  src: font-url("DroidSans.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Sans";
  src: font-url("DroidSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

html, body, div, span, header, footer, menu, nav, section, input,
h1, h2, h3, p, a, img, ul, li, form, label, caption, article, button {
  margin: 0;
  padding: 0;
  border: 0;
  color: #111;
  background: transparent;
  text-decoration: inherit;
  font-size: 100%;
  font: inherit;
  font-family: "Droid Sans";
}

strong {
  font-family: "Droid Sans Bold";
}

ul {
  list-style: none;
}

body {
  width: 100%;
}

button, a, input {
  cursor: pointer;
  outline: none
}

textarea, input {
  outline: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

/* BASIC STYLES */

body {
  margin: 0 auto;
  margin-top: 70px;
}

header {
  background: #ddd;
  padding: 7px 25px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  div#logo {
    display: block;
    float: left;
    margin-top: 3px;
  }

  ul {
    display: block;
    float: right;
  }

  li {
    display: inline;
    float: left;
    padding: 3px 5px;
  }

}

main {
  width: 900px;
  margin: 25px auto;
}

h1 {
  font-size: 36px;
  padding: 20px 0;
}

h2 {
  font-size: 24px;
  padding: 10px 0;
}

h3 {
  font-size: 20px;
  padding: 10px 0;
}

a {
  color: black;
  text-decoration: underline;

  &:hover {
    color: rgb(0, 0, 200);
    text-decoration: none;
  }
}
