/* IMAGES */

img {
  width: 100%;
}

figure {
  margin: 20px;

  a {
    display: block;
    position: relative;
  }

  img {
    display: block;
  }

  div.stack-wrapper {
    margin: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .stack-button {
    height: 34px;
    width: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    margin-top: -17px;
    margin-left: -48px;
    opacity: 1;
  }

  &:hover {
    div.stack-wrapper {
      display: block;
      background: rgba(255, 255, 255, 0.5);
    }
  }

}






// .img-container-sm:hover {
//   position: relative;
//
//   .stack-button {
//     display: block;
//   }
// }


div.img-container-sm {
  display: inline-block;
  float: left;
  max-width: 260px;
  padding: 20px;
}

div.img-container-med {
  display: inline-block;
  float: left;
  max-width: 410px;
  padding: 20px;
}

div.img-container-lrg {
  max-width: 860px;
  padding: 20px;
}

ul.artworks-index {
  width: 300px;
  display: block;
  float: left;
}

ul.artist-show-list {
  width: 450px;
  display: block;
  float: left;
}
