/* INPUTS */

input:not([type='submit']), textarea {
  border: 1px solid black;
  font-size: 16px;
  display: block;
  padding: 8px;
  border-radius: 3px;
  cursor: text;
  outline: none;

  &:focus {
    border: 1px solid green;
    box-shadow: 0 0 1px 1px green;
  }
}

input[type='checkbox'] {
  display: inline;
}

a.button, button, input[type='submit'] {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
  background: #b8b8b8;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #222;
  text-shadow: 0 0 10px #eee;

  &:hover {
    background: #989898;
    color: #111;
    text-shadow: 0 0 0 10px #bbb;
  }
}

label.input {
  display: block;
  margin: 10px 0 0 0;
}

input[type="checkbox"] {
  display: inline;
}

label.checkbox-label {
  margin: 3px;
  display: inline;
}

ul.checkbox-list li {
  margin: 5px;
}

button.stack-button.stacked-false::after {
  content: "Stack it!"
}

button.stack-button.stacked-true::after {
  content: "Unstack it!"
}
