.landing-body{
  img, h1, h2, p, label, ul {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    padding-top: 20px;
  }

  ul {
    display: block;
    margin: 0 auto;
    width: 190px;
    padding-bottom: 50px;

  }

  li {
    display: block;
    float: left;
    margin: 2px;
  }

  input, button {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  img.landing {
    z-index: -1;
    position: absolute;
    width: 100%;
    display: block;
    top: -50px;
    min-width: 1144px;
		min-height: 1000px;
  }

  img.logo {
    width: 320px;
    height: 65px;
  }

  a#facebook-signup {
    margin: 0 auto;
    display: block;
    width: 425px;
    height: 54px;
    color: white;
    line-height: 55px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    text-indent: 38px;
    background-size: 800px;
    background-image: image-url("long-facebook-button.png");
    font-weight: 100;
  }

  a#facebook-signin {
    margin: 0 auto;
    display: block;
    width: 356px;
    height: 54px;
    color: white;
    line-height: 55px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    text-indent: 38px;
    background-size: 800px;
    background-image: image-url("long-facebook-button.png");
    font-weight: 100;
  }


  body {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  main {
    width: 600px;
    padding: 50px;
    background: white;
  }

  .friendly {
    font-size: 13px;
    color: rgb(102,102,102);
  }

	.error {
		display: block;
		position: absolute;
		color: red;
		margin: 0 auto;
	}
}