.landing-body{

  min-height: 820px;

  img, h1, h2, p, label, ul {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    padding-top: 20px;
    font-size: 16px;
  }

  h3 {
    text-align: center;
    color: #55D;
    font-size: 16px;
    padding: 0;
    padding-top: 10px;
  }

  section {
    text-align: center;
  }

  ul {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
  }

  li {
    text-align: left;
    margin: 2px;
  }

  input, button {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  img.landing {
    z-index: -1;
    position: absolute;
    width: 100%;
    display: block;
    top: -50px;
    min-width: 1144px;
		min-height: 1000px;
  }

  img.logo {
    width: 320px;
    height: 65px;
  }

  a#facebook-signin {
    margin: 0 auto;
    display: block;
    width: 391px;
    height: 54px;
    color: white;
    line-height: 55px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    text-indent: 29px;
    background-size: 800px;
    background-image: image-url("long-facebook-button.png");
    font-weight: 100;
  }


  body {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  main {
    width: 600px;
    padding: 50px;
    background: white;
    position: relative;
  }

  .friendly {
    font-size: 13px;
    color: rgb(102,102,102);
  }

	section.error {
		display: block;
    position: absolute;
    width: 600px;
    font-size: 18px;
		color: red;
    text-align: center;
		margin-top: -40px;
	}
}
