/* SPECIALTY STYLES */

#flash-errors {
  display: inline-block;
  width: 400px;
  margin: auto;
  color: red;
  font-weight: bold;
}

#flash-notice {
  display: inline-block;
  width: 400px;
  margin: auto;
  color: green;
  font-weight: bold;
}

div.devmode {                               //delete?
  display: block;
  width: 400px;
  margin: 0 auto;
  border: 1px solid red;
  background: red;
}

#welcome-user {
  display: relative;
  float: right;
  padding: 5px 10px 0 0;
}

#layout-buttons {
  float: right;
  margin: 10px;
  // border: 1px solid red;
  height: 17px;
  vertical-align: middle;



  h6 {
    margin-right: 2px;
    height: 17px;
    vertical-align: middle;
    font-size: 12px;
    // font-weight: bold;
    display: inline-block;
    color: #111;
  }
}

a.layout-button {
  display: inline-block;
  // float: left;
  height: 17px;
  width: 17px;
  overflow: hidden;
  background: image-url("icons/grid-icons.png") no-repeat;
  background-position-y: -17px;
  margin: 0 0 0 3px;
}

a.layout-button.active {
  background-position-y: 0;
}

a.grid-layout-button {
  background-position-x: 0;
}

a.list-layout-button {
  background-position-x: -17px;
}
