/* SPECIALTY STYLES */

#flash-errors {
  display: inline-block;
  width: 400px;
  margin: auto;
  color: red;
  font-weight: bold;
}

#flash-notice {
  display: inline-block;
  width: 400px;
  margin: auto;
  color: green;
  font-weight: bold;
}

div.devmode {                               //delete?
  display: block;
  width: 400px;
  margin: 0 auto;
  border: 1px solid red;
  background: red;
}

#welcome-user {
  display: relative;
  float: right;
  padding: 5px 10px 0 0;
}
