// Place all the styles related to the user_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="checkbox"] {
  display: inline;
}

label.checkbox-label {
  margin: 3px;
  display: inline;
}

ul.checkbox-list li {
  margin: 5px;
}