<% require_logout %>

<a href="/auth/facebook">Login with Facebook</a>

<form action="<%= @action %>" method="post">

  <%= render "layouts/auth_token" %>

  <label for="username" class="input">Username</label>
  <input
    type="text"
    name="user[username]"
    value=""
    id="username">

  <label for="password" class="input">Password</label>
  <input
    type="password"
    name="user[password]"
    value=""
    id="password">

  <button><%= @button_name %></button>

</form>