<% require_logout %>

<a href="/auth/facebook">Login with Facebook</a>

<form action="<%= @action %>" method="post">

  <%= render "layouts/auth_token" %>

  <label for="email">Email</label>
  <input
    type="text"
    name="user[email]"
    value=""
    id="email">

  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    value=""
    id="password">

  <button><%= @button_name %></button>

</form>